*.a
*.so
*.so.*
*.o
*~
*.pb.cc
*.pb.h
*_pb2.py
config.h
fd-*
Makefile.config
src/ma_msg.pb.*
__pycache__
*.pyc
*.pyo
third-party/preprocess/preprocess
third-party/bliss/bliss_C.h
pddl/objset.h
src/objset.c
pddl/iset.h
src/iset.c
pddl/iarr.h
src/iarr.c
cpddl.pc
src/tmp.*
src/*_stub.c
src/_version.c
