[submodule "third-party/opts"]
	path = third-party/opts
	url = https://github.com/danfis/opts
[submodule "test/pddl-data"]
	path = test/pddl-data
	url = ../pddl-data.git
[submodule "t"]
	path = t
	url = git@gitlab.com:danfis/cppdl-test.git
