*.a
*.so
*.so.*
*.o
*~
*.pb.cc
*.pb.h
*_pb2.py
config.h
fd-*
Makefile.local
src/ma_msg.pb.*
__pycache__
*.pyc
*.pyo
third-party/preprocess/preprocess
third-party/bliss/bliss_C.h
pddl/objset.h
src/objset.c
pddl/iset.h
src/iset.c
pddl/lset.h
src/lset.c
pddl/cset.h
src/cset.c
pddl/iarr.h
src/iarr.c
